.add-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 24px;
}

.image-placeholder {
  position: relative;
  width: 128px;
  background: #ddd;
}

.image-placeholder::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.image-placeholder > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-placeholder > .material-icons {
  width: 32px;
  height: 32px;
  font-size: 32px !important;
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
